{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>

    <div>
        <button type="button" onclick="location.href='{{ path('app_register') }}'" class="btn btn-primary btn-lg">S'enregistrer</button>
    </div>
{% endblock %}
