{% extends 'base.html.twig' %}

{% block title %}Capturer des pokemons{% endblock %}

{% block body %}
    <h1>Capturer un pokemon</h1>

    {{ form_start(captureForm) }}
    {{ form_row(captureForm.pokemon) }}
    {{ form_row(captureForm.zone) }}

    <button type="submit" class="btn">Capturer !</button>
    {{ form_end(captureForm) }}
{% endblock %}