{% extends 'base.html.twig' %}

{% block title %}New Pokemon{% endblock %}

{% block body %}
    <h1>Create new Pokemon</h1>

    {{ include('pokemon/_form.html.twig') }}


    <div>
    <button type="button" onclick="location.href='{{ path('app_my_pokemon') }}'" class="btn btn-primary btn-lg">Retour à "Mes Pokemons"</button>
    </div>
{% endblock %}
